<div class="chat d-flex align-items-end" data-channel-subscribe="room" data-room-id="<%= @actor.token %>">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text">[<%= Time.now.strftime('%H:%M:%S') %>] <%= @actor.room.introduction.html_safe %></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <%= text_field :message, :message, {
    class: 'chat-input',
    style: 'width: 90%'
  } %>
  <div class="input-group-append">
    <%= submit_tag "Send", class: 'btn btn-primary chat-input' %>
  </div>
</div>



<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
