<% if @avatars.present? %>
  <nav class="nav flex-column">
    <% @avatars.each do |avatar| %>
      <%= link_to avatar.name, avatar_path(avatar), class: 'nav-link avatar-nav-link' %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    <ul style="list-style-type: none; padding-left: 20px;"><li>You have no avatars</li></ul>
  </div>
<% end %>

<div class="mb-3">
  <%= link_to new_avatar_path, class: 'btn btn-primary' do %>
    Create an avatar
  <% end %>
</div>