<div class="row no-gutters avatars__create">
  <div class="col">
    <div class="avatars__create--item js-avatar-selection" data-job-id="1" style="background-image: url(<%= asset_path('warrior.jpg') %>);">
      <h1>Warrior</h1>
    </div>
  </div>
  <div class="col">
    <div class="avatars__create--item js-avatar-selection" data-job-id="2" style="background-image: url(<%= asset_path('mage.jpg') %>);">
      <h1>Mage</h1>
    </div>
  </div>
  <div class="col">
    <div class="avatars__create--item js-avatar-selection" data-job-id="3" style="background-image: url(<%= asset_path('paladin.jpg') %>);">
      <h1>Paladin</h1>
    </div>
  </div>
  <div class="col">
    <div class="avatars__create--item js-avatar-selection" data-job-id="4" style="background-image: url(<%= asset_path('druid.jpg') %>);">
      <h1>Druid</h1>
    </div>
  </div>
</div>

<div id="avatarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createAvatarModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for @avatar do |form| %>
        <%= form.hidden_field :job_id %>
        <%= form.input :name %>
        <%= form.submit "Create", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>