<div class="my-3">
  <h4 class="alert-heading text-center">Please Select an Avatar!</h4>

  <div class="row">
    <div class="col-12 col-md-3">
      <div class="avatars__sidebar">
        <%= render partial: 'avatars' %>
      </div>
    </div>

    <div class="col">
      <!-- <div class="alert alert-primary">
        <h4 class="alert-heading text-center">
          Please Select an Avatar!
        </h4>
      </div> -->
    </div>
  </div>
</div>