<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1><%= @avatar.name %></h1>

        <strong><%= @avatar.job.name %></strong><br />
        <strong>Level: </strong> <span class="badge badge-primary"><%= @avatar.level %></span><br />
        <strong>Experience: </strong> <span class="badge badge-primary"><%= @avatar.experience %></span>
      </div>

      <%= link_to avatar_login_path(@avatar), class: 'btn btn-primary' do %>
        Login
      <% end %>
    </div>
  </div>
</div>