// Place all the styles related to the Avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatars {
  &__sidebar {
    .btn {
      margin: 1rem;
    }
  }

  &__create {
    height: 100%;

    &--item {
      background-position: center center;
      background-size: cover;
      color: white;
      height: 100%;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

#avatarModal {
  .modal-content {
    padding: 20px;
  }
}