.splash {
  color: white;
  height: 100%;
  margin-top: -60px;

  label, p, h1, h2, h3 {
    text-shadow: 2px 2px 2px #000000;
  }
  
  video {
    bottom: 0;
    min-height: 100%;
    min-width: 100%; 
    position: fixed;
    right: 0;
  }

  .container, .row {
    height: 100%;
  }

  .col-valign-middle {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .my-3 {
    width: 50%;
  }
}