<!DOCTYPE html>
<html>
  <head>
    <title>Log In / Sign Up</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/navigation_bar' %>
    <div class="splash">
      <video autoplay muted loop id="myVideo">
        <source src="/assets/forest.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="row">
          <div class="col-12 col-valign-middle">
            <div class="my-3">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>